<h2 mat-dialog-title>Agregar usuario</h2>
<form class="example-form" (ngSubmit)="onSubmit()">
<mat-dialog-content class="mat-typography">
    <div fxLayout.lt-md="column" fxLayout.md="column" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="50%" fxFlex.xs="100%">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre" name="firstName" tabindex="1" required [(ngModel)]="firstName">
                    </mat-form-field>

                    <mat-form-field class="" appearance="fill">
                        <mat-label>Ubicación</mat-label>
                        <input matInput placeholder="Ubicación" name="location" tabindex="3" required [(ngModel)]="location">
                    </mat-form-field>

                    <mat-radio-group aria-label="Select an option" name="gender" tabindex="5" [(ngModel)]="chosenGender">
                        <mat-radio-button *ngFor="let gen of genders" [value]="gen.value" name="gender">{{ gen.name}}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Apellido" name="lastName" tabindex="2" required [(ngModel)]="lastName">
                    </mat-form-field>

                    <mat-form-field class="" appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="Celular" name="phone" tabindex="4" required [(ngModel)]="phone">
                    </mat-form-field>
                </div>
            </div>
            

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="user-dialog--actions">
        <button mat-button mat-dialog-close type="submit">Agregar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
    </mat-dialog-actions>
</form>