.user-card--image {
  min-width: 76px;
  max-height: 76px;
  border-radius: 8px;
  text-align: center;
  &-f {
    @extend .user-card--image;
    background-color: #ffc824;
  }
  &-m {
    @extend .user-card--image;
    background-color: #1fada7;
  }
}

.user-card--text {
  font-family: sans-serif;
}