<mat-card class="user-card--container">
    <mat-card-header class="user-card--header">
        <mat-card-title class="user-card--title">
            <div fxLayout.lt-md="row" class="user-card--title-text-align" fxLayout.md="row" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
                <div fxFlex="80">
                    {{user.firstName}} {{user.lastName}}
                </div>
                <div fxFlex="20" align="end">
                    <button mat-raised-button color="primary" class="user-card--title-button">
                        <mat-icon class="user-card--title-edit-icon">mode_edit</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="user-card--content">
        <div  fxLayout.lt-md="row" fxLayout.md="row" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
            <div fxFlex="20">
                <img src="https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png" alt="User image" width="76" height="76">
            </div>
            <div fxFlex="80" align="start" class="user-card--content-alignment">
                <div fxLayout="column" >
                    <div fxFlex="100">
                        <p>{{user.location}}</p>
                    </div>
                    <div fxFlex="100">    
                        <p>{{user.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>