<div class="container container__home" fxLayout="column" fxLayoutGap="20px">
	<div fxLayout.lt-md="column" fxLayout.md="column" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
		<div fxFlex="10"></div>
		<div fxFlex="80" fxFlex.lt-md="80" fxFlex.md="80">
			<div fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxLayoutAligmnet="space-between center"
				fxLayoutGap="20px">
				<div fxFlex="60">
					<mat-icon class="container__home-icon">people</mat-icon>
					<span class="container__home-title"> Usuarios</span>
				</div>
				<div fxFlex="40">
					<form class="example-form">
						<mat-form-field class="example-full-width" appearance="fill">
							<mat-label>Buscador</mat-label>
							<input type="text" matInput name="search" placeholder="" (input)="onSearchChange($event)" />
							<mat-icon matSuffix>search</mat-icon>
						</mat-form-field>
					</form>
				</div>
			</div>
		</div>
		<div fxFlex="10"></div>
	</div>
	<div fxLayout.lt-md="column" fxLayout.md="column" fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
		<div fxFlex="80" fxFlexOffset="10">
			<div fxLayout="row wrap" fxLayoutGap="16px grid">
				<div *ngFor="let user of pageSlice" fxFlex="25%" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%">
					<app-user-card [user]="user" (exampleFunction)="exampleFunctionHome(user)"></app-user-card>
				</div>
			</div>

			<mat-paginator [length]="this.users.length"
              [pageSize]="this.pageSize"
              [pageSizeOptions]="[16, 20, 50, 100]"
			  (page)="onPageChange($event)"
              aria-label="Select page">
			</mat-paginator>

		</div>
	</div>
</div>