::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 30px!important;
    padding: .75em .75em 0 .75em;
}
.container__home {
    margin-top: 2.5rem;
}

.container__home-icon {
    font-size:3rem;
    line-height:1.8rem;
}

.container__home-title {
    font-size:1.5rem;
    line-height:2rem;
    margin: 0.5rem 2rem;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}