::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 30px!important;
    padding: .75em .75em 0 .75em;
}

.home__container-icon {
    font-size:40px;
    line-height:32px;
}

.home__container-title {
    font-size:28px;
    line-height:36px;
    margin: 0.5rem 1rem;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}